/docker/memcached_socket/memcached.sock
/docker/mysql_data/**
/docker/db_initializer_pipe/db_ready
/docker/secrets
/docker/gazelle_log_pipe/log
/www/classes/config.php
.git
release/*
static/similar
static/stylespreview
*.swp
*.project
*.php~
